/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.utils-ui-thumbnail {
    position: absolute;
    width: 87px;
    height: 87px;
    top: 0px;
    left: 0px;
    cursor: pointer;
    background-color: rgb(0,0,0);
    opacity: .7;
}


.utils-ui-thumbnail-selected {
    border: solid 1px rgb(220,220,220);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}

.utils-ui-thumbnail-mouseover, .utils-ui-thumbnail-highlight {
    background-color: rgba(50,50,50, 1);
    opacity: 1;
    z-index: 10000;
    overflow: visible;
    color: rgb(255,255,255);
}


.utils-ui-thumbnail-image, .utils-ui-thumbnail-canvas {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 8px;
    left: 8px;	
    overflow-y: hidden;
    overflow-x: hidden;
    border : solid;
    border-color: rgb(200,200,200);
    border-width : 1px;
    border-radius: 0px;	 
    cursor: pointer;
}

.utils-ui-thumbnail-image-mouseover {

}


.utils-ui-thumbnail-displaytext {
    position: absolute;
    height: 70px;
    top: 8px;
    left: 86px;
    font-size: 9;		
    font-family: Helvetica,"Helvetica neue", Arial, sans-serif; 
    white-space: nowrap;  
    color : rgb(200,200,200);  
    line-height: 17px;
	
}


.utils-ui-thumbnail-displaytext-mouseover {
    color : rgb(255,255,255);
}


.utils-ui-thumbnail-canvas {
    top: 8px;
    left: 8px;
}



/*******
* Active state
********/

.utils-ui-thumbnail-displaytext-active {
    color : rgb(230,230,230);
}

.utils-ui-thumbnail-active {
    opacity: 1;
}


.utils-ui-thumbnail-image-active {
    border-color : rgb(230,230,230);
}